<h1>BuddyConnections#index</h1>
<p>Find me in app/views/buddy_connections/index.html.erb</p>
<% @buddies.each do |pair| %>
  <%= User.where(id: pair.user_1_id) %>
  <p>and</p>
  <%= User.where(id: pair.user_2_id) %>
  <hr>
<% end %>
