.user-index {
  background: rgba(255, 235, 214, 0.3);

}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-bottom:300px;
  margin-left: 30px;
  margin-right: 30px;

}

.card-trip > img {
  height: 50%px;
  width: 400px;
  object-fit: cover;
}

.card-trip-infos {
  padding: 16px;
  justify-content: space-between;
  margin-top:15px;
  margin-bottom: 15px;
  position: relative;

}

.card-trip-infos h2 {
  font-size: 16px;
  color: #003844;
  font-weight: bold;

}