// Specific CSS for your home-page
.banner-home {
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  padding: 70px 0;
}

.banner-home h1 {
  margin: 0;
  color: #9EF019;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
}

.banner-home p {
  font-size: 90px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center
}

.banner-home h3 {
  font-size: 40px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center
}

.btn-go {
  color: white;
  border: 4px solid white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  text-align:center;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  align-items: inherit;
  margin: 24px;
}

.btn-go:hover {
  opacity: 1;
  color: #9EF019;
}

