<div class="footer">
    <a href="/"><i class="fas fa-home"></i></a>
    <a href="/runs"><i class="fas fa-running"></i></a>
    <a href="/runs/new"><i class="fas fa-plus-square"></i></a>
    <div class="community-btn">
      <a href="/community"><i class="fas fa-users"></i></a>
      <% if true %> <!-- add unread condition here! -->
      <div class="message-dot hidden"><i class="fas fa-circle"></i></div>
      <% end %>
    </div>
    <a href="/team"><i class="fas fa-info"></i></a>
</div>
