<div class="footer">
  <div class="footer-action">
    <img src="" alt="">
    <div>
      <%# <a href="#"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-copyright"> %>
      RunningBuddy <i class="fas fa-heart"></i>
      </div>
  </div>
</div>
