<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,4),rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1502904550040-7534597429ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3649&q=80);">
  <div class="container to-the-side">
    <h1><strong></strong></h1>
    <p>You'll never run alone!</p>


    <div class="go buttons"><a class="button-green m-3 p-3" href="/users">Find RUNNERS</a><a class="button-green m-3 p-3" href="/runs">Join RUNS</a></div>
  </div>
</div>
