<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1524957467802-e4a9b20bcd5c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cnVuJTIwZ3JlZW4lMjB3aGl0ZXxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1><strong></strong></h1>
    <p>You'll never run alone!  <strong>OK LET'S GO</strong>**Dababy voice**!</p>
    <center><a class="btn btn-go p-5" href="/users">investigate</a></center>
  </div>
</div>


<!-- alternative image banner:
https://images.unsplash.com/photo-1502904550040-7534597429ae?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8cnVubmVyc3xlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=800&q=60 -->
