<div class="team w-100" style="color: #015460 !important">
  <!-- <h2>Meet The Team</h2> -->

    <div class="user-info-profil col-12">
      <div class="name-img" style="display: flex">
        <div>
          <h3>Anna-Maria Jansen</h3>
          <div class="links-team">
            <a href="https://github.com/AnnaMariaJansen"target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/annamariajansen/"target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="profile-img">
        <%= image_tag("Anna_Maria_avatar", class: "profile-team") %>
        </div>
      </div>
    </div>

  <div class="user-info-profil col-12">
    <div class="name-img" style="display: flex">
      <div>
        <h3>Arthur Birnstiel</h3>
        <div class="links-team">
          <a href="https://github.com/AnnaMariaJansen"target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/arthur-birnstiel/"target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <%= image_tag("arthur_avatar", class: "profile-team") %>
    </div>
  </div>

  <div class="user-info-profil col-12">
    <div class="name-img" style="display: flex">
      <div>
        <h3>Johanna Fritzmeier</h3>
        <div class="links-team">
          <a href="https://github.com/AnnaMariaJansen"target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/johanna-fritzmeier-20248711a/"target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <%= image_tag("johanna_avatar", class: "profile-team") %>
    </div>
  </div>

  <div class="user-info-profil col-12">
    <div class="name-img" style="display: flex">
      <div>
        <h3>Sophia Denney</h3>
        <div class="links-team">
          <a href="https://github.com/AnnaMariaJansen"target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/sophia-mtw-denney-31a555144/"target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <%= image_tag("sophia_avatar", class: "profile-team") %>
    </div>
  </div>

</div>
