<div class="team w-100" style="color: #015460 !important">
  <div class="Team cards ml-3 mr-3">
    <center><h2><br>Meet The Team</h2></center>

      <div class="row TEAM-CARDS justify-content-center">

        <div class="user-info-profil col-5">
          <div class="name-img" style="display: flex">
            <div>
              <h3>Anna-Maria Jansen</h3>
              <div class="links-team">
                <a href="https://annamariajansen.github.io/profile/"target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/annamariajansen/"target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="profile-img">
            <%= image_tag("Anna_Maria_avatar.png", class: "profile-team") %>
            </div>
          </div>
        </div>

      <div class="user-info-profil col-5">
        <div class="name-img" style="display: flex">
          <div>
            <h3>Arthur Birnstiel</h3>
            <div class="links-team">
              <a href="https://github.com/birnart"target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/arthur-birnstiel/"target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <%= image_tag("arthur_avatar.png", class: "profile-team") %>
        </div>
      </div>
    </div>

    <div class="row TEAM-CARDS justify-content-center">

      <div class="user-info-profil col-5">
        <div class="name-img" style="display: flex">
          <div>
            <h3>Johanna Fritzmeier</h3>
            <div class="links-team">
              <a href="https://johannafritzmeier.github.io/Profil/"target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/johanna-fritzmeier-20248711a/"target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <%= image_tag("johanna_avatar.png", class: "profile-team") %>
        </div>
      </div>

      <div class="user-info-profil col-5">
        <div class="name-img" style="display: flex">
          <div>
            <h3>Sophia Denney</h3>
            <div class="links-team">
              <a href="https://denneys14.github.io/profile/"target="_blank"><i class="fab fa-github"></i></a>
              <a href="https://www.linkedin.com/in/sophia-mtw-denney-31a555144/"target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <%= image_tag("sophia_avatar.png", class: "profile-team") %>
        </div>
      </div>
    </div>
  </div>
</div>
