<div class="team w-100" style="color: #015460 !important">
  <!-- <h2>Meet The Team</h2> -->

    <div class="user-info-profil col-12">
      <div class="name-img" style="display: flex">
        <h3>Anna-Maria Jansen</h3>
        <div class="profile-img">
          <%= image_tag("Anna_Maria_avatar", class: "profile-team") %>
        </div>
      </div>
      <div class="links-team">
        <a href="https://github.com/AnnaMariaJansen"target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/annamariajansen/"target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>

  <div class="user-info-profil col-12">
    <div class="name-img" style="display: flex">
      <h3>Arthur Birnstein</h3>
      <%= image_tag("arthur_avatar", class: "profile-team") %>
    </div>
    <div class="links-team">
        <a href="https://github.com/AnnaMariaJansen"target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/annamariajansen/"target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
  </div>

  <div class="user-info-profil col-12">
      <div class="name-img" style="display: flex">
    <h3>Johanna Fritzmeier</h3>
      <%= image_tag("johanna_avatar", class: "profile-team") %>
    </div>
    <div class="links-team">
        <a href="https://github.com/AnnaMariaJansen"target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/annamariajansen/"target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
  </div>

  <div class="user-info-profil col-12">
    <div class="name-img" style="display: flex">
      <h3>Sophia Danney</h3>
      <%= image_tag("sophia_avatar", class: "profile-team") %>
    </div>
    <div class="links-team">
      <a href="https://github.com/AnnaMariaJansen"target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/annamariajansen/"target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

</div>
