svg {
    overflow: hidden;
    vertical-align: middle;
    margin-top: -15px;
    fill: #9EF019 !important;
}

svg:hover {
  fill: #5B8266 !important;
}

.btn-ghost {
  color: #5B8266;
  border: 1px solid #5B8266;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  align-items: inherit;
  margin-bottom: 24px;
}

.btn-ghost:hover {
  opacity: 1;
  color: #5B8266;
}
