.button-green {
  background-color: #5B8266;
  color: #FFEBD6;
  border-radius: 5px;
  border: #5B8266;
  width: 66px;
  height: 25px;
  left: 80px;
  text-align: center;
  text-decoration: none;
}
.button-green:hover {
  text-decoration: none;
  color: #FFEBD6;
  box-shadow: 2px 3px 20px lightgrey;
}

.btn-text {
  z-index: 1;
