.button-green {
  background-color: #5B8266;
  color: #FFEBD6;
  border-radius: 5px;
  border: #5B8266;
  width: 66px;
  height: 25px;
  left: 80px;
  top: 320px;
  text-decoration: none;
  margin-top:20px;
  text-align: center;
}

.button-green:hover {
  text-decoration:none;
  color: #5B8266;
  background-color: #FFEBD6;
  transition: 0.5s;
}
