.button-green {
  background-color: #9EF019;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #9EF019;
  text-align: center;
  text-decoration: none;
  padding: 5px 24px;

  font-size: 15px;
  transition: 0.5s;
  flex-grow: 0;
  height: 35px;
}

.button-green:hover {
  text-decoration: none;
  background-color:white !important;
  color: #9EF019 !important;
  box-shadow: 2px 3px 20px ;
}

.btn-text {
  z-index: 1;
}
.com-options {
  display: flex;
  justify-content: space-between;
}
.button-com {
  background-color: #9EF019;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #9EF019;
  height:180px;
  width:180px;
  text-align: center;
  vertical-align: center;
}
.button-com:hover {
  text-decoration: none;
  background-color:white !important;
  color: #9EF019 !important;
  box-shadow: 2px 3px 20px ;
}
