body {
  background: rgba(255, 235, 214, 0.3);
}

.card-trip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px 2% 0;
}

.card-trip > img {
  width: 400px;
  max-width: 90vw;
  object-fit: cover;
}

.card-trip-infos {
  padding: 16px;
  justify-content: space-between;
  margin-top:15px;
  margin-bottom: 15px;
  position: relative;

}

.card-trip-infos h2 {
  font-size: 16px;
  color: #003844;
  font-weight: bold;

}

 .card-trip-infos p {
  font-size: 12px;
  color: #003844;
  opacity: .7;
  margin: 0;

}


.card-trip-infos .card-trip-user {
  position: absolute;
  right: 30px;
  top: -40px;
  width: 40px;
}
