.card-product {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 2px 3px 15px lightgrey;
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  position: relative
}

.notification-bell-card {
  position: absolute;
  top: 0;
  right: 0;
}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}
.bolden {
  font-weight: bold !important;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.cardlink {
  text-decoration: none;
  color: black;
}
.cardlink:hover {
  text-decoration: none;
  color: black;
  box-shadow: 2px 3px 15px black;
}
