.message-bubble-me {
  background-color: #9EF019;
  border-radius: 5px;
  padding: 5px;
  text-align: right;
  display: inline-block;
  box-shadow: 1px 2px 15px lightgrey;

}
.message-bubble-you {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  display: inline-block;
  box-shadow: 1px 2px 15px lightgrey;
}

.author {
  font-size: 15px;
  font-weight: lighter;
}
.message-container {
  height: 50vh;
  max-height: 40%;
}
.message-container-me {
  text-align: right;

}
.message-container-you {
  // display: inline-block;
  text-align: left;
}
.text-bar-send {
  border-radius: 5px;
  box-shadow: 2px 3px 15px lightgrey;
  border: white;
}
.form-rows {
  width: 90%;
}
// #new_message {
//   position: fixed;
//   bottom: 200px;
// }
