.footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px 20px;
  color: rgba(0,0,0,0.3);
  margin-top: 30px;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.footer .footer-brand img {
  width: 40px;
}

.footer-action a {
  color: #015460;;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 20px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.far {
  color: #5b8266;
  font-size: 25px;
}
.far:hover {
  color: #9ff019;
}
.fas {
  color: #5b8266;
  font-size: 25px;
}
.fas:hover {
  color: #9ff019;
}
.fa-plus-square {
  color: #9ff019;
  font-size: 35px;
  transition: 1s;
}

.fa-plus-square:hover {
  color: #5b8266;
}
