.footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px 20px;
  color: rgba(0,0,0,0.3);
  margin-top: 30px;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

// .footer-action {
//   display: flex;
//   align-items: center;
// }
.footer-action a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 20px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #5b8266;
}
