// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "cards";
@import "navbar";
@import "button-green";
@import "info-container";
@import "button-createrun";
@import "button-rosa";
@import "footer";
@import "button-add-run";
@import "chat";
@import "chat_cards"
