// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "avatar_big";
@import "button-createrun";
@import "cards";
@import "button-green";
@import "button-rosa";
@import "chat";
@import "chat_cards";
@import "footer";
@import "info-container";
@import "map-index";
@import "message_notif";
@import "navbar";
@import "searchbar";
@import "button-add-run";
@import "buddy_connection_card";
@import "link_unbuddy"
