body {
  background: rgba(255, 235, 214, 0.3) !important;
}
.detail-info {
margin-top: 40px;
margin-left: 50px;
margin-right:50px;
margin-bottom: 40px;
color: #015460;
}

.user {
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #015460;

}

.user img {
  width: 120px;
  border-radius: 50%;
  margin-right: 35px

}

.user-info {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin-top:50px;
  border-radius: 4px;
  padding-top:20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}

.last-runs {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin-top:40px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.buttons-bottom {
  display: flex;
  justify-content: space-between;
  margin-top:40px;
}

.community {
  margin-left: 38px !important;
  margin-right: 20px !important;
}

@media screen and (max-width: 600px) {
  .user-photo img {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}














