.mapboxgl-ctrl-attrib.mapboxgl-compact {
    min-height: 20px;
    padding: 2px 24px 2px 0;
    margin: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    display: none;
}

a.mapboxgl-ctrl-logo {
  display: none !important;
}
