.community-btn {
  position: relative;
}

.fa-circle {
  color: red !important;
  font-size: 6px;
  font-weight: lighter;
  position: absolute;
  top: 25px;
  left: 13px;
}
.fa-circle:hover {
  color: red !important;
}
.hidden {
  display: none;
}
