.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  left: -1px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h3 {
  background-color: #9EF019;
  background-clip: text;
  background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  font-size: 4.2vh !important;
}

.navbar-lewagon .nav-link {
  margin: 0;
  color: #9EF019;
}

.dropdown-item {
  color: #015460;
}

.dropdown-item:hover {
  color: #008296;
  text-decoration: none;
}

