#search-bar {
    position: fixed;
    top: 93px;
    left: 61px;
    z-index: 3;
    overflow: hidden;
    max-height: 0px;
    transition: 0.7s;
}

.fa-search {
  color: #9ff019 !important;
  border: opx solid white !important;
 }

 #SuchLupe {
  border: 0px solid white !important;
  background-color: white;
 }

#SuchLupe:focus {outline:0;}

