<h1>Runs#show</h1>
<p>Find me in app/views/runs/show.html.erb</p>

<% @meetings.each do |meeting|%>
  <%= meeting %>
<% end %>

<%= button_to 'join run', { controller: "meetings", action: "create", run_id: @run.id, user_id: current_user , method: :post }, class: "btn btn-success" %>

<%#= link_to 'see previous reviews of this run', meeting_review_path(@meeting) %>
