// devise session new
.container {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
  color: #003844 !important;
}

.headline {
  
  margin-top: 50px !important;
  padding-top: 50px;
}